@model IEnumerable<PaychexReceiptOCR.Models.Receipt>

<html>
<head>
    <title>Receipt Data</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Vendor</th>
                <th>Total Cost</th>
                <th>Date of Purchase</th>
                <th>Mean Confidence(For Tesseract)</th>
            </tr>
        </thead>
        <tbody>

            @{
                // Counter used for assigning unique IDs to the Modal PopUps
                int counter = 0;
            }
            @foreach (var receipt in Model)
            {
                // Creates unique IDs for ModalPopUps
                string imageId = "Image" + counter;
                string readingId = "Reading" + counter;
                string name = receipt.Name;
                if (name.Length > 16)
                {
                    name = receipt.Name.Substring(0, 15) + "...";
                }

            <tr>
                <th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@imageId">@name</button></th>
                <th>@receipt.Vendor</th>
                @if (receipt.TotalCost != "Unknown")
                {
                    <th>$@receipt.TotalCost</th>
                }
                else
                {
                    <th>@receipt.TotalCost</th>
                }
                <th>@receipt.Date</th>
                <!-- Checks if OCR reading was successful
                If it was, displays the mean confidence in the table and links to the Modal PopUp of the reading-->
                @if (String.IsNullOrWhiteSpace(receipt.RawText))
                {
                    <th>Couldn't Read</th>
                }
                else
                {
                    <th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@readingId">@receipt.MeanConfidence</button></th>
                }
            </tr>

                counter++;
            }
        </tbody>
    </table>

    @{
        // Counter used for assigning unique IDs to the Modal PopUps
        counter = 0;
    }
    @foreach (var receipt in Model)
    {
        // Creates unique IDs for ModalPopUps
        string imageId = "Image" + counter;
        string readingId = "Reading" + counter;

        <!-- Modal for displaying image -->
        <div id="@imageId" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@receipt.Name</h4>
                    </div>
                    <div class="modal-body">
                        <img src="~/userReceipts/@receipt.Name" width="470" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Checks if OCR reading was successful
           If it was, creates a Modal PopUp for viewing the iterated text-->
        @if (!String.IsNullOrWhiteSpace(receipt.RawText))
        {
            <!-- Modal for displaying iterated text -->
            <div id="@readingId" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">@receipt.Name</h4>
                        </div>
                        <div class="modal-body">
                            @foreach (string line in receipt.IteratedText)
                            {
                                <p>@line</p>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        }

        counter++;
    }
</body>
</html>