@model IEnumerable<PaychexReceiptOCR.Models.Receipt>

<html>
<head>
    <title>Receipt Data</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Vendor</th>
                <th>Mean Confidence(For Tesseract)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var receipt in Model)
            {
                string imageId = "Image" + receipt.Order.ToString();
                string readingId = "Reading" + receipt.Order.ToString();

                <tr>
                    <th><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#@imageId">@receipt.Name</button></th>
                    <th>@receipt.Vendor</th>
                    @if (String.IsNullOrWhiteSpace(receipt.RawText))
                    {
                        <th>Couldn't Read</th>
                    }
                    else
                    {
                        <th><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#@readingId">@receipt.MeanConfidence</button></th>
                    }
                </tr>
            }
        </tbody>
    </table>

    @foreach (var receipt in Model)
    {
        string imageId = "Image" + receipt.Order.ToString();
        string readingId = "Reading" + receipt.Order.ToString();

        <!-- Modal -->
        <div id="@imageId" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@receipt.Name</h4>
                    </div>
                    <div class="modal-body">
                        <img src="~/userReceipts/@receipt.Name" width="470" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        @if (!String.IsNullOrWhiteSpace(receipt.RawText))
        {
            <!-- Modal -->
            <div id="@readingId" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">@receipt.Name</h4>
                        </div>
                        <div class="modal-body">
                            @foreach (string line in receipt.IteratedText)
                            {
                                <p>@line</p>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        }
    }
</body>
</html>